 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>During the day I am a systems admin 'slash' developer. I have over a decade of experience working with web stacks for small to medium-large, web based technology companies.
                </div>
                <div class="col-lg-4">
                    <p>At night, I read sci-fi, hack on a bit of code and endulge my musical perversions. If you can recommend any good death, grind or technical metal feel free to contact me.</p>
                </div>
                <!--<div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>-->
            </div>
        </div>
    </section>
