            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
                            {{ page.content }}
                            {% if page.download }} %}
                              <div class="col-lg-8 col-lg-offset-2 text-center">
                              <a href="{{ page.download }}" class="btn btn-lg btn-outline">
                                <i class="fa fa-download"></i> {{ page.download-desc }}</a>
                              </div>
                            {% endif %}
                            <div class="portfolio-details">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
